.notice{
    /*border: 1px solid black;*/
    background-color: rgb(255, 236, 158);
    height: max-content;
    width: 500px;
    height: auto;
    max-width: 500px;
    position: relative;
    margin-left: auto;
    float: right;
}

.product_info{
    position: absolute;
    border: 1px solid black;
}