.login{
  background-color: black;
  padding-bottom: 7%;
}

.login>h1{
  text-align: center;
  font-size: 40px;
  color: rgb(233, 138, 35);
}

.login>div{
  text-align: center;
  margin: auto;
  margin-top: 3%;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
  height: 420px;
  width: 250px;
  background-color:rgb(233, 138, 35);
}

.login>div>.loginhead{
  text-align: left;
  font-size: 30px;
  color: black;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 0%;
}

.login>div>label{
  display: inline-block;
  width: 100%;
  text-align: left;
  color: black;
}

.login>div>input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login>div>button{
  width: 100%;
  background-color: #119ec9;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login>div>p{
  text-align: center;
  font-size: 20px;
  color: black;
}