.edit_profile>h1{
    color: black;
    text-align: center;
    font-size: 35px;
}

.edit_profile>h2{
    color: black;
    text-align: left;
    margin-left: 25%;
    font-size: 25px;
}

.edit_profile>center>table{
    width: 50%;
    text-align: left;
    font-size: 20px;
}

.edit_profile>button{
    background-color: rgb(233, 138, 35);
    color: black;
    width: 5%;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    padding: 14px 20px;
    font-size: 15px;
    cursor: pointer;
}