.profile>h1{
    color: black;
    text-align: center;
    font-size: 35px;
}


.profile>button{
    background-color: rgb(246, 153, 53);
    color: black;
    width: 5%;
    margin-top: 8px;
    display: inline-block;
    border: none;
    border-radius: 4px;
    padding: 14px 20px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

.profile>button:hover{
    border-style: inset;
    border-color: black;
    border-width: medium;
}

.profile>center>table>tr>td{
    height: 15px;
}

.profile_table{
    width: 400px;
    font-size: 20px;
    margin-bottom: 20px;
}

.profile td:first-child{
    width: 200px;
}

.profile td:nth-child(2){
    float: right;
}