.add_product>button{
    background-color: rgb(246, 153, 53);
    margin: 10px;
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.add_product>button:hover{
    border-style: inset;
    border-width: medium;
    border-color: black;
}

.add_product>center>table>tr>td{
    height: 40px;
}

.add_product>center>table{
    font-size: 18px;
}

.add_product>center>table td:first-child{
    width: 200px;
}

.add_product>center>table td:nth-child(2){
    width: 200px;
}

.multiselect_dropdown {
    width: 200px;
}

.addproductinfo{
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    width: 170px;
}