.wishlist>h1{
    background-color: rgb(233, 138, 35);
    margin: 0;
    text-align: left;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
}


.product_img{
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 40px;
    margin-bottom: 20px;
    float: left;
    /*border: 1px solid;*/
}

.wishlist_back{
    background-color: rgb(246, 153, 53);
    margin: 10px;
    float: left;
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.product{
    text-align: left;
    font-size: 20px;
    width: 1300px;
    /* padding-top: 20px; */
    margin: 0px;
    border-style: inset;
    border-width: medium;
}

.product>tr>:first-child{
    width: 150px;
}

.product>tr>:nth-child(2){
    padding-top: 35px;
    vertical-align: top;
    width: 850px;
}

.wishlist button.wishlist_button{
    background-color: rgb(246, 153, 53);
    float: right;
    margin: 10px;
    border: none;
    width: 180px;
    height: 70px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}
.wishlist button.wishlist_button:hover{
    border-color: black;
    border-style: inset;
    border-width: medium;
}
