
.cart button.cart_pay{
    background-color: rgb(6, 6, 6);
    color: rgb(246, 153, 53);
    font-weight: bold;
    margin: 10px;
    float: right;
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.cart button.cart_back{
    background-color: rgb(246, 153, 53);
    margin: 10px;
    float: left;
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.cart_content{
    /*border: 1px solid;*/
}

.cart h1{
    background-color: rgb(233, 138, 35);
    margin: 0;
    text-align: left;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.cart_content div.cart_img img{
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
    padding-left: 60px;
    padding-top: 20px;
    padding-right: 40px;
    /* float: left; */
    /*border: 1px solid black;*/
}
.cart_info{
    /*border: 1px solid;*/
    float: left;
    width: 50%;
    height: 100px;
}

.cart_info p{
    text-align:left;
    font-size: 20px;
}

.cart_select{
    /* float: left; */
    /*border: 1px solid;*/
    height: 0px;
    width: 400px;
    margin-left: 500px;
}


.cart_select button.cart_button1{
    background-color: rgb(246, 153, 53);
    float: right;
    margin: 10px;
    width: 180px;
    height: 70px;
    border: none;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

.cart_select button.cart_button2{
    background-color: rgb(246, 153, 53);
    float: right;
    margin: 10px;
    border: none;
    width: 180px;
    height: 70px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

.cart_quantity_input{
    width: 40px;
    height: 27px;
    border: none;
    margin-top: 80px;
}

.cart_add_btn{
    margin-top: 40px;
    background-color: rgb(255, 50, 50);
    width: 40px;
    height: 27px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.cart_min_btn{
    margin-top: 40px;
    background-color: rgb(97, 249, 27);
    width: 40px;
    height: 27px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.cart .total_price{
    width: 99%;
    text-align: right;
    margin-right: 20px;
    font-size: 30px;
    /*border: 1px solid;*/
}

.left_col {
    width: 20%;
    vertical-align:middle;
}

.mid_col {
    width: 70%;
}

.right_col {
    width: 10%
}

.center_table {
    margin-left: auto;
    margin-right: auto;
}

/* tr td{
    border: 1px solid black ;
} */