.product_list{
    margin: 10px;
    border: none;
    /* float: left; */
    width: 180px;
    height: 250px;
    cursor: pointer;
    margin-top: 50px;
}

.product_list:hover{
    border: 1px solid rgb(246, 153, 53);
}

.product_list img{
    max-width: 150px;
    max-height: 150px;
    padding-left: 12px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    vertical-align: middle;
}

.product_result{
    /*border: 1px solid black;*/
    position: absolute;
}

.top{
    float: left;
    min-width: 100px;
    text-align-last: center;
}

.top select {
    appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  width: 100%;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: rgb(233, 138, 35);;
  border: 1px solid #caced1;
  border-radius: 0.5rem;
  color:black;
  cursor: pointer;
}

.top_text {
    font-size: 20px;
}