.specific_product{
    /* border: 2px solid black; */
}

.product_header{
    background-color: rgb(233, 138, 35);
    margin: 0;
    text-align: left;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.specific_product div.s_img{
    /* border: 1px solid hsl(36, 100%, 53%); */
    margin: 20px;
    padding: 30px;
    margin-left: 60px;
    float: left;
}

.specific_product div.s_img img{
    max-width: 300px;
    max-height: 300px;
}

.specific_product div.s_dec{
    /* border: 2px solid black; */
    float: right;
    margin: 20px;
    margin-right: 550px;
    margin-top: 30px;
    width: 400px;
    height: 400px;
}

.specific_product div.s_dec:hover{
    border-style: double;
    border-width: medium;
    background-color:blanchedalmond;
}

.specific_product div.s_dec>p{
    text-align: left;
}
.specific_product div.s_dec>label{
    float: left;
    padding-right: 5px;
}
.specific_product div.s_dec>input{
    margin-top: 1%;
    float: left;
    width: 30px;
    margin-right: 0px;
}

.s_add1{
    background-color: rgb(255, 50, 50);
    margin-top: 4px;
    margin-right: 0px;
    float: left;
    width: 30px;
    height: 20px;
    border: none;
    cursor: pointer;
}

.s_add2{
    background-color: rgb(97, 249, 27) ;
    margin-top: 4px;
    margin-right: 0px;
    float: left;
    width: 30px;
    height: 20px;
    border: none;
    cursor: pointer;
}

.s_add:hover{
    background-color: rgb(210, 130, 45);
}

.s_fun{
    background-color: rgb(246, 153, 53);
    margin: 10px;
    float: left;
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.s_fun:hover{
    background-color: rgb(210, 130, 45);
}

.specific_message{
    margin-top: 500px;
}

.spec_review{
    float: left;
    margin-left: 20px;
}